/* Primary button css */

.primary-button {
    padding: 15px 25px;
    background-color: #4b7bec;
    color: #fff;
    font-size: 16px;
    font-family: helvetica neue;
    border: 1px solid #00000033;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.primary-button:focus {
    outline: none;
}

.primary-button:hover {
    background-color: #3867d6;
    transition: background-color 0.5s ease;
}

.primary-button-disabled {
    padding: 15px 25px;
    background-color: #dae3ef;
    color: #8f99a7;
    font-size: 16px;
    font-family: helvetica neue;
    border: 1px solid #d2d9e2;
    border-radius: 8px;
    font-weight: 500;
}
.primary-button-disabled:focus {
    outline: none;
}

.primary-button-ghost {
    padding: 15px 25px;
    background-color: #fff;
    color: #3867d6;
    font-size: 16px;
    font-family: helvetica neue;
    border: 2px solid #3867d6;
    border-radius: 8px;
    font-weight: 600;
    cursor: pointer;
}
.primary-button-ghost:hover {
    background-color: #4b7bec;
    transition: background-color 0.5s ease;
    color: #fff;
    font-weight: 600;
}
.primary-button-ghost:focus {
    outline: none;
}

.primary-button-ghost-disabled {
    padding: 15px 25px;
    background-color: #fff;
    color: #8f99a7;
    font-size: 16px;
    font-family: helvetica neue;
    border: 2px solid #8f99a7;
    border-radius: 8px;
    font-weight: 500;
}

.primary-button-ghost-disabled:focus {
    outline: none;
}

/* color variations primary green*/
button.primary-button.green {
    background-color: #20bf6b;
}
button.primary-button.green:hover {
    background-color: #1ba15a;
}
button.primary-button-ghost.green {
    color: #1ba15a;
    border-color: #1ba15a;
}
button.primary-button-ghost.green:hover {
    color: #fff;
    background-color: #20bf6b;
    border-color: #00000033;
}

/* color variations primary pink*/
button.primary-button.pink {
    background-color: #fc5c65;
}
button.primary-button.pink:hover {
    background-color: #eb3b5a;
}
button.primary-button-ghost.pink {
    color: #fc5c65;
    border-color: #fc5c65;
}
button.primary-button-ghost.pink:hover {
    color: #fff;
    background-color: #fc5c65;
    border-color: #00000033;
}

/* Secondary button css */

.secondary-button {
    padding: 10px 20px;
    background-color: #4b7bec;
    color: #fff;
    font-size: 14px;
    font-family: helvetica neue;
    border: 1px solid #00000033;
    border-radius: 8px;
    font-weight: 500;
    cursor: pointer;
    transition: background-color 0.5s ease;
}
.secondary-button:focus {
    outline: none;
}

.secondary-button:hover {
    background-color: #3867d6;
    transition: background-color 0.5s ease;
}

.secondary-button-disabled {
    padding: 10px 20px;
    background-color: #dae3ef;
    color: #8f99a7;
    font-size: 14px;
    font-family: helvetica neue;
    border: 1px solid #d2d9e2;
    border-radius: 8px;
    font-weight: 500;
}
.secondary-button-disabled:focus {
    outline: none;
}

.secondary-button-ghost {
    padding: 10px 20px;
    background-color: #fff;
    color: #3867d6;
    font-size: 14px;
    font-family: helvetica neue;
    border: 2px solid #3867d6;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
}
.secondary-button-ghost:hover {
    background-color: #4b7bec;
    transition: background-color 0.5s ease;
    color: #fff;
    font-weight: 400;
}
.secondary-button-ghost:focus {
    outline: none;
}

.secondary-button-ghost-disabled {
    padding: 10px 20px;
    background-color: #fff;
    color: #8f99a7;
    font-size: 14px;
    font-family: helvetica neue;
    border: 2px solid #8f99a7;
    border-radius: 8px;
    font-weight: 500;
}

.secondary-button-ghost-disabled:focus {
    outline: none;
}

/* color variations secondary green*/
button.secondary-button.green {
    background-color: #20bf6b;
}
button.secondary-button.green:hover {
    background-color: #1ba15a;
}
button.secondary-button-ghost.green {
    color: #1ba15a;
    border-color: #1ba15a;
}
button.secondary-button-ghost.green:hover {
    color: #fff;
    background-color: #20bf6b;
    border-color: #00000033;
}

/* color variations secondary pink*/
button.secondary-button.pink {
    background-color: #fc5c65;
}
button.secondary-button.pink:hover {
    background-color: #eb3b5a;
}
button.secondary-button-ghost.pink {
    color: #fc5c65;
    border-color: #fc5c65;
}
button.secondary-button-ghost.pink:hover {
    color: #fff;
    background-color: #fc5c65;
    border-color: #00000033;
}

/* Tertiary button css */

.tertiary-button {
    padding: 10px 20px;
    background-color: none;
    color: #4b7bec;
    font-size: 14px;
    font-family: helvetica neue;
    border: none;
    font-weight: 600;
    cursor: pointer;
    transition: color 0.5s ease;
}
.tertiary-button:focus {
    outline: none;
}

.tertiary-button:hover {
    color: #3867d6;
    transition: color 0.5s ease;
}

.tertiary-button-disabled {
    padding: 10px 20px;
    background-color: none;
    color: #bcc3ce;
    font-size: 14px;
    font-family: helvetica neue;
    border: none;
    font-weight: 600;
}
.tertiary-button-disabled:focus {
    outline: none;
}

/* color variations tertiary green*/
button.tertiary-button.green {
    color: #20bf6b;
}
button.tertiary-button.green:hover {
    color: #1ba15a;
}

/* color variations tertiary pink*/
button.tertiary-button.pink {
    color: #fc5c65;
}
button.tertiary-button.pink:hover {
    color: #eb3b5a;
}

/* Social media button css */

.social-button {
    padding: 10px 20px;
    background-color: #f5f5f5;
    color: #555;
    font-size: 14px;
    font-family: helvetica neue;
    border: 1px solid #8f99a7;
    border-radius: 8px;
    font-weight: 400;
    cursor: pointer;
    transition: color 0.5s ease;
}
.social-button:focus {
    outline: none;
}

.social-button:hover {
    color: #222;
    background-color: #fff;
    transition: background-color 0.5s ease;
}
